---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import type { News } from '../../Types/News'

const response = await fetch(`https://newsapi.org/v2/everything?q=Apple&sortBy=popularity&apiKey=${import.meta.env.API_KEY}`)
const data = (await response.json()) as News
console.log(data)
---

<Layout title="Welcome to Astro." >
  <main>
    <h1 class="text-center text-2xl text-violet-600 p-4">
      Welcome to <span class="text-red-600">News</span>
    </h1>
    <div class="flex flex-wrap justify-center gap-4 px-6">
      {data?.articles?.map((item) => <Card imgUrl={item?.urlToImage} title={item.title} url={item.url} description={item.description} />)}
    </div>
  </main>
</Layout>
