---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";
import type { Cardtype } from "../../Types/News";

let date = new Date().toISOString().split("T")[0];
const response = await fetch(
  `https://newsapi.org/v2/everything?q=Apple&from=${date}&sortBy=popularity&apiKey=${
    import.meta.env.VITE_API_KEY
  }`
);
const data = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-center text-2xl text-violet-600 p-4">
      Welcome to <span class="text-red-600">Astro</span>
    </h1>
    <div class="flex flex-wrap justify-center gap-4 px-6">
      {
        data.articles.map((item: Cardtype) => (
          <Card
            imgUrl={item.urlToImage}
            title={item.title}
            url={item.url}
            description={item.description}
          />
        ))
      }
    </div>
  </main>
</Layout>
